.todoContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}

.todo {
    margin: 1rem;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem;

}

.btn {
    text-decoration: none;
    border-radius: 10px;
    color: black;
    margin-left: 10px;
    border: 1px solid black;
    padding: 10px 20px;
}

.notLogged {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 80px auto;
    text-align: center;
    padding: 20px;
}

.notLogged img {
    width: 150px;
}

