/* Container Styling */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

/* Label Styling */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

/* Input Styling */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
h2 {
    color: #007bff;
}
/* Error Message Styling */
div[ngIf] {
  color: #d9534f;
  font-size: 12px;
  margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: #4cae4c;
}

.error-message{
    color: red;
    font-weight: bold;
}


/* Button Styling */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #5cb85c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #4cae4c;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
